.nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: $white;
	width: 100%;

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
		background-color: $rgba;
		width: 100%;
		height: 100%;

		@include respond(tablet-xl) {
			display: none;
		}
	}

	&__overlay.active {
		visibility: visible;
		opacity: 1;
	}

	&__logo {
		@include respond(tablet-xl) {
			display: none;
		}
	}

	&__img {
		width: 150px;
		// @include respond(tablet-xl) {
		// 	display: none;
		// }
	}

	&__navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1em;

		@include respond(tablet-xl) {
			display: none;
		}
	}

	&__btn {
		display: flex;
		align-items: flex-end;
		gap: 1em;
		z-index: 2000;
		padding: 0.2em 0;
		font-weight: 700;
		text-transform: uppercase;

		@include respond(tablet-xl) {
			display: none;
		}

		&-box {
			position: relative;
			align-self: center;
			width: 30px;
			height: 30px;
		}

		&-bars {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			transition: $transition;
			background-color: $black;
			width: 25px;
			height: 2px;
			content: '';

			&::after {
				position: absolute;
				top: 5px;
				right: 0;
				transition: $transition;
				background-color: $black;
				width: 15px;
				height: 2px;
				content: '';
			}
		}

		&-text {
			color: $black;
		}
	}

	&__btn.active {
		.nav__btn-bars::after,
		.nav__btn-bars {
			width: 100%;
		}
	}

	&__list {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(100%);
		transition: all 0.5s;
		// box-shadow: 0 0 25px $rgba;
		background-color: $white;
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;

		@include respond(tablet-xl) {
			display: flex;
			position: unset;
			top: unset;
			right: unset;
			flex-direction: row;
			justify-content: space-between;
			transform: translateX(0);
			background-color: transparent;
			width: 100%;
			height: inherit;
			overflow: unset;
		}

		&-logo {
			position: absolute;
			top: 130px;
			z-index: 50;

			@include respond(tablet-xl) {
				position: unset;
			}
		}

		&-img {
			width: 150px;

			@include respond(tablet-xl) {
				width: 130px;
			}
		}
	}

	&__list.active {
		transform: translateX(0);
	}

	&__menu {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// background-color: $red;
		width: 100%;
		height: 100%;

		@include respond(tablet-xl) {
			flex-direction: row;
			gap: 1.5em;
			width: unset;
			height: unset;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.3;
			z-index: -20;
			background: url('../images/wave-png.png') $white;
			background-position: center;
			background-size: 95%;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			content: '';

			@include respond(tablet-xl) {
				display: none;
			}
		}

		&-item {
			display: block;
			transition: $transition;
			margin-block: 0.5em;
			background-image: url('../images/hover-background-black.png');
			background-position: center;
			background-size: 180px;
			background-repeat: no-repeat;
			// padding: 0 1em;
			width: 100%;
			text-align: center;

			&:hover {
				background-image: url('../images/hover-background.png');
			}

			@include respond(tablet-xl) {
				margin-block: 0;
				border-radius: 15px;
				background-position: bottom;
				background-size: 175px;
				padding: 0;
				// padding: 0.1em;
				width: unset;
				height: 100%;
			}
		}

		&-link {
			display: block;
			transition: color 0.1s;
			padding: 0.8em;
			// width: 100%;
			color: $white;
			font-weight: 700;
			font-size: 1.4rem;
			// color: $black;
			text-transform: uppercase;

			@include respond(tablet-xl) {
				padding: 0.5em;
				// width: 100%;

				font-size: 1.8rem;
				letter-spacing: 0.5px;
				text-align: center;
			}
		}
	}

	&__bottom {
		display: flex;
		position: absolute;
		bottom: 100px;
		left: 50%;
		flex-direction: column;
		gap: 1.5em;
		transform: translateX(-50%);

		&-text {
			font-weight: 700;

			@include respond(tablet-xl) {
				display: none;
			}
		}

		@include respond(tablet-xl) {
			position: unset;
			left: unset;
			gap: unset;
			transform: unset;
		}
	}

	&__socials {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		// width: 100%;
		gap: 1em;

		@include respond(tablet-xl) {
			gap: 0.5em;
		}

		&::after {
			position: absolute;
			top: -15px;
			left: 50%;
			transform: translateX(-50%);
			background-color: $black;
			width: 100%;
			height: 3px;
			content: '';

			@include respond(tablet-xl) {
				display: none;
			}
		}
	}

	&__social {
		i {
			transition: $transition;
			// border: 2px solid $red;
			border-radius: 50%;
			background-color: $red;
			padding: 0.15em;
			color: $white;
			font-size: 3.5rem;

			@include respond(tablet-xl) {
				font-size: 3rem;
			}
		}

		// @include respond(tablet-xl) {
		// 	padding: 0.3em;
		// }

		&:hover i {
			background-color: $black;
		}
	}
}
