.promo {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	flex-direction: column;
	align-items: center;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	z-index: 5000;
	transition: opacity 0.3s ease-in-out;
	box-shadow: 0px 0px 15px -3px $rgba;
	border-radius: 5px;
	background-color: $white;
	padding: 1em;
	width: 100%;
	max-width: 90%;

	@include respond(tablet) {
		padding: 2em 1em;
		max-width: 550px;
	}

	&__close {
		position: absolute;
		top: -10px;
		right: -5px;
		z-index: 50;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background-color: $red;
		padding: 0.5em;
		color: $white;
		font-size: 1.2rem;

		&:hover {
			background-color: $black;
		}

		@include respond(tablet) {
			top: -15px;
			right: -10px;
			padding: 0.6em;
		}

		i {
			font-size: 1.8rem;

			@include respond(tablet) {
				font-size: 2.3rem;
			}
		}
	}

	&__texts {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 180%;
		text-align: center;

		@include respond(tablet) {
			font-size: 1.8rem;
		}
	}

	&__link {
		transition: background-color 0.2s;
		margin-top: 0.5em;
		background-color: $red;
		padding: 0.3em 0.6em;
		color: $white;
		font-weight: 700;
		font-size: 1.3rem;
		text-transform: uppercase;

		&:hover {
			background-color: $black;
		}

		@include respond(tablet) {
			margin-top: 1em;
			font-size: 1.8rem;
		}
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 2000;
		transition: opacity 0.3s ease-in-out;
		background-color: rgba($color: #000000, $alpha: 0.4);
		width: 100%;
		height: 100%;
	}

	&__overlay.active,
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
