.testimonials {
	@include section-padding;

	.section-img-right {
		display: unset;
		opacity: 0.3;

		@include respond(tablet) {
			top: 50%;
			width: 650px;
		}

		@include respond(desktop) {
			right: 0;
		}
	}

	&__swiper {
		&-wrapper {
			padding-bottom: 2em;
		}
	}

	&__box {
		position: relative;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -10;
			backdrop-filter: blur(5px);
			background-color: $rgba-white;
			width: 100%;
			height: 100%;
			content: '';
		}
	}

	&__content {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		// z-index: 30;
		border: 2px solid $black;
		border-radius: 25px;
		padding: 1em;
		// overflow: hidden;
		text-align: center;
	}

	&__icon {
		position: absolute;
		top: -25px;
		left: 0;
		align-self: flex-start;
		z-index: 10;
		background-color: $white;
		padding: 0.3em;
		font-size: 3.5rem;
	}

	&__img {
		border: 2px solid $black;
		border-radius: 50%;

		width: 85px;

		@include respond(tablet) {
			width: 100px;
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
	}

	&__text {
		font-style: italic;

		@include respond(tablet) {
			font-size: 1.8rem;
		}
	}

	&__author {
		font-style: italic;
		font-weight: 700;
		text-align: center;

		@include respond(tablet) {
			font-size: 2rem;
		}
	}

	.swiper-pagination {
		// margin-top: 3em !important;
		bottom: 10px;
		// background-color: $black;

		@include respond(tablet) {
			bottom: 0;
			// z-index: 300;
		}

		&-bullet {
			background-color: $black;
		}

		&-bullet-active {
			background-color: $red;
		}
	}
}
