// colors:

$red: #b8202e;
$white: #fff;
$black: #000;
$rgba: rgba(
	$color: $black,
	$alpha: 0.5,
);

$gray: #e5e5e5;

$rgba-white: rgba(
	$color: $white,
	$alpha: 0.5,
);

$box-shadow: 0 0 8px $black;
// transitions:
$transition: all 0.2s;
