.container {
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  max-width: 1600px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* li {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  background: none;
  font: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background-color: #b8202e;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
}
.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.nav__overlay.active {
  visibility: visible;
  opacity: 1;
}
.nav__img {
  width: 150px;
}
.nav__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.nav__btn {
  display: flex;
  align-items: flex-end;
  gap: 1em;
  z-index: 2000;
  padding: 0.2em 0;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__btn-box {
  position: relative;
  align-self: center;
  width: 30px;
  height: 30px;
}
.nav__btn-bars {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.2s;
  background-color: #000;
  width: 25px;
  height: 2px;
  content: "";
}
.nav__btn-bars::after {
  position: absolute;
  top: 5px;
  right: 0;
  transition: all 0.2s;
  background-color: #000;
  width: 15px;
  height: 2px;
  content: "";
}
.nav__btn.active .nav__btn-bars::after,
.nav__btn.active .nav__btn-bars {
  width: 100%;
}
.nav__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.5s;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
.nav__list-logo {
  position: absolute;
  top: 130px;
  z-index: 50;
}
.nav__list-img {
  width: 180px;
}
.nav__list.active {
  transform: translateX(0);
}
.nav__menu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav__menu::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: -20;
  background: url("../images/wave-png.png") #fff;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: "";
}
.nav__menu-item {
  display: block;
  transition: all 0.2s;
  margin-block: 0.5em;
  background-image: url("../images/hover-background-black.png");
  background-position: center;
  background-size: 180px;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
}
.nav__menu-item:hover {
  background-image: url("../images/hover-background.png");
}
.nav__menu-link {
  display: block;
  transition: color 0.1s;
  padding: 0.8em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__bottom {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50%;
  flex-direction: column;
  gap: 1.5em;
  transform: translateX(-50%);
}
.nav__bottom-text {
  font-weight: 700;
}
.nav__socials {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.nav__socials::after {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 100%;
  height: 3px;
  content: "";
}
.nav__social i {
  transition: all 0.2s;
  border-radius: 50%;
  background-color: #b8202e;
  padding: 0.15em;
  color: #fff;
  font-size: 3.5rem;
}
.nav__social:hover i {
  background-color: #000;
}